#contacto{
    padding: 90px 0;
    background: $colorprincipal;
    overflow-x:hidden
}

#contacto h2{
    padding-bottom: 50px;
}

.formulario-contacto{
    background: $colorsecundario;
    width: 50%;
    margin: 20px auto;
    padding: 70px 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    h5{
        text-align: center;
        padding-bottom: 40px;
        font-weight: 900;
    }
}