@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 800;
}

.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.large {
  font-size: 1.25rem;
}

.display-1 {
  font-size: 4.5rem;
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}

#button {
  background: lightgrey;
  border: none;
  color: #000;
}

#button:hover {
  background: #000;
  border: 1px solid #fff;
  color: #fffbf4;
}

form label {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 300;
}

form .grupo-formulario {
  margin-bottom: 16px;
}

form .control-formulario {
  display: block;
  width: 100%;
  padding: 7px 12px;
  line-height: 1.5;
  background: #fffbf4;
  border-radius: 4px;
}

.navbar-home {
  height: 10vh;
}

#navbar {
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar a {
  color: #000;
}

#navbar .logo {
  float: left;
  padding-top: 5px;
}

#navbar .logo img {
  height: 50px;
}

#navbar ul {
  float: right;
  font-size: 14px;
  list-style: none;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

#navbar ul li a:hover,
#navbar ul li .current {
  text-decoration: underline;
}

#showcase {
  height: 80vh;
  background: #fffbf4;
  padding: 150px 0;
}

#showcase h1 {
  line-height: 1em;
}

#showcase .title-outline {
  color: #fff;
  -webkit-text-stroke: 3px #000;
}

.showcase-row {
  display: flex;
}

.showcase-row-title {
  padding-top: 70px;
}

.showcase-row-image {
  display: block;
  margin: 0 auto;
}

.showcase-row-image img {
  height: 400px;
}

#sobre-mi {
  background: #fffbf4;
  padding: 90px 0;
}

#sobre-mi h2 {
  padding-bottom: 50px;
}

.sobre-mi-row {
  display: flex;
}

.sobre-mi-row-image {
  height: 500px;
  padding-right: 90px;
}

#sobre-mi hr {
  width: 60%;
  margin-bottom: 30px;
}

#habilidades {
  padding: 90px 0;
}

#habilidades h2 {
  padding-bottom: 50px;
}

.habilidades-row {
  display: flex;
  padding-bottom: 50px;
}

.habilidades-row-left,
.habilidades-row-right {
  width: 50%;
  display: flex;
}

.habilidades-row-left-image,
.habilidades-row-right-image {
  width: 50%;
  text-align: right;
  padding-right: 50px;
}

.habilidades-row-left-image img,
.habilidades-row-right-image img {
  height: 100px;
}

#portafolio {
  padding: 90px 0;
  background: #fffbf4;
}

#portafolio h2 {
  padding-bottom: 50px;
}

.portafolio-row {
  display: flex;
}

.portafolio-row-box {
  margin: 20px;
  background: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.portafolio-row-box p {
  text-align: center;
}

.portafolio-row-box img {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Konit", sans-serif;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7rem;
}

/* Clases utilitarias */
/* Navbar */
/*Showcase*/
/* sobre mi */
/* Habilidades */
/* Portafolio*/
/*Span's*/
.proyecto-span {
  padding: 5px;
  border-radius: 10px;
  color: white;
  background: #000;
}

.comercio-span {
  padding: 5px;
  border-radius: 10px;
  background: lightgoldenrodyellow;
}

.span-proyecto {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
}

.span-tatuajes {
  padding: 5px;
  border-radius: 10px;
  color: white;
  background: #358BBC;
}

/* Contacto */
#contacto {
  padding: 90px 0;
  background: #fffbf4;
  overflow-x: hidden;
}

#contacto h2 {
  padding-bottom: 50px;
}

.formulario-contacto {
  background: #fff;
  width: 50%;
  margin: 20px auto;
  padding: 70px 50px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.formulario-contacto h5 {
  text-align: center;
  padding-bottom: 40px;
  font-weight: 900;
}

/* footer */
.footer-home {
  height: 10vh;
}

#mainfooter {
  text-align: center;
  padding: 30px;
}

footer p a img {
  transition: linear 0.7s;
}

footer p a img:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=estilos.css.map */